$res_320: "only screen and (min-width: 320px) and (max-width: 424px)";
// $res_375 : "only screen and (min-width: 375px) and (max-width: 424px)";
// $res_425 : "only screen and (min-width: 425px) and (max-width: 767px)";
// $res_768 : "only screen and (min-width: 768px) and (max-width: 991px)";
// $res_992 : "only screen and (min-width: 992px) and (max-width: 1023px)";
// $res_1024 : "only screen and (min-width: 1024px) and (max-width: 1999px)";
// $res_1200 : "only screen and (min-width: 1200px)";
@mixin responsive_320() {
  @media #{$res_320} {
    @content;
  }
}

.partner-tabup {
  width: 100%;
  margin-top: -33px;
  .partner-tabup__mobile {
    display: none;
  }
  .partner-tabup__pc {
    .ant-tabs-nav::before {
      border-bottom: 1px solid rgb(238, 222, 222) !important;
      z-index: 10;
    }
    .tabup-full {
      width: 100%;
    }
    .info-wrapper {
      padding-left: 35px;
      padding-right: 35px;
      margin-top: 20px;
      .info-action {
        display: flex;
        justify-content: flex-end;
        .info-action__btn {
          height: 40px;
          border: none;
          border-radius: 4px;
          margin-right: 10px;
        }

        .info-action__btn:nth-child(n + 1) {
          background-color: #419543;
        }

        .info-action__btn:nth-child(n + 3) {
          background-color: #898c8d;
        }

        .info-action__btn:nth-child(n + 4) {
          margin-right: 0;
        }

        .info-action__btn:nth-child(n + 1):hover {
          background-color: #2b612c;
        }
        .info-action__btn:nth-child(n + 3):hover {
          background-color: #494d4e;
        }
      }
      .info-partner {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        .info-detail {
          width: calc(40vw + 50px);
          display: flex;
          justify-content: flex-start;
          .left-info-detail,
          .right-info-detail {
            width: 50%;
            padding-right: 50px;
            .info-image {
              width: 250px;
              height: 250px;
            }
            .info-detail-info {
              border-bottom: 1px solid #aca5a5;
              margin-top: 30px;
              padding-bottom: 5px;
              display: flex;
              justify-content: space-between;
              span {
                font-weight: 600;
                
              }
              span:first-child{
                width: 120px !important;
              }
            }
            .info-detail-info:first-child {
              margin-top: 0;
            }
            .info-detail-address{
              position: relative;
              width: calc(40vw + 50px);
            }
          }
          .right-info-detail {
            position: relative;
            left: 50px;
          }
        }
        .note {
          width: calc(100px + 20vw);
          height: 60px;
          border-left: 2px solid #419543;
          padding-left: 10px;
          span {
            font-weight: 600;
          }
        }
      }
    }
    .icon-goback {
      position: absolute;
      top: 54px;
      left: 35px;
      font-size: 14px;
      color: rgb(0 ,144, 218);
      font-weight: 800;
      width: 30px;
      height: 30px;
      border-radius: 4px;
      background-color: #fff;
      span{
        width: 30px;
        height: 30px;
        position: absolute;
        text-align: center;
        top: 8px;
      }
    }
    .icon-goback:hover {
      background-color: rgb(0 ,144, 218);
      color: #fff;
      cursor: pointer;
    }


    .row-tab-paid-debt {
      padding-left: 35px;
      padding-right: 35px;
      .wrapperleft-table {
        margin-top: 13.5px;
        h2 {
          position: absolute;
        }
      }
    }

    .top-table-list-bill {
      display: flex;
      justify-content: flex-end;

      button {
        height: 40px;
        margin-right: 10px;
        border: none;
        border-radius: 4px;
      }

      button:nth-child(n + 1) {
        background-color: #419543;
      }
      button:nth-child(n + 2) {
        background-color: #419543;
      }
      button:nth-child(n + 3) {
        background-color: #898c8d;
      }
      button:nth-child(n + 4) {
        background-color: #898c8d;
        margin-right: 0;
      }
      button:nth-child(n + 1):hover {
        background-color: #2b612c;
      }
      button:nth-child(n + 2):hover {
        background-color: #2b612c;
      }
      button:nth-child(n + 3):hover {
        background-color: #494d4e;
      }
      button:nth-child(n + 4):hover {
        background-color: #494d4e;
      }
    }

    .table-list-bill {
      margin-top: 23px;
      .ant-table-thead > tr > th {
        background-color: #dcf4fc;
      }
    }
  }
}

@include responsive_320() {
  .partner-tabup {
    margin-top: 0px;
    .partner-tabup__mobile {
      display: block;
      .icon-goback {
        position: absolute;
        top: 15px;
        right: 15px;
      }
      .icon-goback:hover {
        color: rgb(99, 99, 196);
      }
    }
  }
  .partner-tabup__pc {
    display: none;
  }
  .partner-header {
    background-color: #ebf5ea;
    margin-top: -18px;
    padding: 15px;
    .partner-image {
      margin-top: 5px;
    }
  }
  .info-detail {
    .info-detail-info {
      height: 45px;
      padding-top: 10px;
      padding-left: 15px;
      border-bottom: 1px solid #eee;
      width: 100%;
      span {
        display: inline-block;
        width: 35%;
      }
      .partner-value {
        width: 65%;
        font-weight: 600;
      }
    }
    .partner-name {
      font-size: 17px;
      font-weight: 600;
      width: 100vw;
    }
  }
  .note {
    background-color: #ebf5ea;
    padding: 15px;
    height: 150px;
  }
  .partner-action {
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    .partner-action__btn {
      width: 50%;
      height: 50px;
    }
  }
}
