.sectiontab-list-bill{
    .card-info,.card-action-time-created,.card-action-bill,.card-action-buyer,.card-action-total-money{
        min-height: 95px;
        height: auto;
        width: 240px;
        background-color: #fff;
        border-radius: 5px;
        padding: 10px 15px 20px 15px;
        margin-top: 20px;
        box-shadow: 0 5px 15px rgba(0,0,0,.1);
    }
    .card-info{
        margin-top: 51px;
     div{
         display: flex;
         justify-content: space-between;
         margin-bottom: 5px;
         span:last-child{
             font-weight: 600;
         }
     }
    }

    .card-action-time-created{
        div{
            margin-top: 8px;
            border: none;
            border-bottom: 1px solid  #d1d0d0;
            position: relative;
            input{
                padding-left: 0;
                text-align: start;
            }
            input:hover{
                cursor: pointer;
            }
            .icon-symbol{
                position: absolute;
                top: 7px;
                right: 5px;
            }
        }
       
    }

    .card-action-bill div,.card-action-buyer div,.card-action-total-money div{
        display: flex;
        flex-direction: column;
        label{
            margin-bottom: 3px;
            margin-left: 0;
        }
    }
}

.popover-time-global{
    display: flex;
    justify-content: space-between;
    .sub-popover-time-global{
        display: flex;
        flex-direction: column;
        padding:0 20px 0 20px;
        span{
            padding: 5px;
        }
        span:first-child{
            font-weight: 600;
        }
        span:nth-child(n+2):hover{
            color: rgb(0, 144, 218);
            cursor: pointer;
        }
    }
}

