.sectiontab-list-buyer{
   

    .card-info,.card-action-time-created,.card-action-total-sell,.card-action-total-debt,.card-action-sex,.card-action-status{
        min-height: 95px;
        height: auto;
        width: 240px;
        background-color: #fff;
        border-radius: 5px;
        padding: 10px 15px 20px 15px;
        margin-top: 20px;
        box-shadow: 0 5px 15px rgba(0,0,0,.1);
    }
    .card-info{
        margin-top: 51px;
     div{
         display: flex;
         justify-content: space-between;
         margin-bottom: 5px;
         span:last-child{
             font-weight: 600;
         }
     }
    }


    .card-action-sex div,.card-action-status div{
        display: flex;
        flex-direction: column;
        label{
            margin-bottom: 3px;
            margin-left: 0;
        }
    }
    .card-action-time-created{
        div{
            margin-top: 8px;
            border: none;
            border-bottom: 1px solid  #d1d0d0;
            position: relative;
            input{
                padding-left: 0;
                text-align: start;
            }
            input:hover{
                cursor: pointer;
            }
            .icon-symbol{
                position: absolute;
                top: 7px;
                right: 5px;
            }
        }
    }
    .card-action-total-sell,.card-action-total-debt{
        div{
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;
            input{
                border: none;
                width: 160px;
                background-color: #fff;
                border-bottom: 1px solid  #d1d0d0;
                position: relative;
                bottom: 2px;
            }

            input:focus{
                outline: none;
            }
        }
        div:last-child{
            margin-bottom: 3px;
        }
    }
}

.popover-category{
    min-width: 300px;
    min-height: 100px;
    padding:0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    span:hover{
        color: rgb(0, 144, 218);
        cursor: pointer;
    }
}

