.screen-list__product {
  width: 75%;
  height: 40%;
  max-height: 70%;
  background-color: #ebebeb;
  position: fixed;
  bottom: 0;
  left: 0;
  .icon-resize {  
    width: 200px;
    height: 200px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: -10px;
    left: 50%;
    margin: 0 auto;

    .icon {
      color: #56ad51;
    }
    .icon:last-child{
      margin-top: 8px;
    }
    .up {
      position: absolute;
      top: -30px;
      z-index: 20;
      width: fit-content;
    }
    .down {
      position: absolute;
      top: -8px;
      z-index: 20;
      width: fit-content;
    }
    .up:hover,
    .down:hover {
      cursor: row-resize;
      color: #3d933c;
    }
  }
  .filter-product {
    margin-left: 14px;
    position: absolute;
    top: 10px;
    z-index: 10;
    .symbol-icon-filter {
      display: inline-block;
      margin-left: 10px;
      font-size: 15px;
      width: 25px;
      height: 25px;
      text-align: center;
      border: 1px solid #a19797;
      
    }
    .symbol-icon-filter:first-child {
      margin-left: 0px;
    }
    .symbol-icon-filter:hover {
      cursor: pointer;
      background-color: #56ad51;
      border: 1px solid #56ad51;
      color: #fff;
    }
  }
  .list-product {
    width: 100%;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    top: 0;
    .item-product {
      display: flex;
      justify-content: flex-start;
      width: 150px;
      max-width: 150px;
      height: 70px;
    }
    .image-product {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 2px;
    }
    .info-product {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 15px;
      .info-product__name {
        font-size: 13px;
        width: 85px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .info-product__price {
        position: absolute;
        bottom: 5px;
        span {
          font-size: 13px;
          color: #3d933c;
          font-weight: 600;
        }
      }
    }
    .item-product:hover {
      cursor: pointer;
      background-color: #fff;
      box-shadow: 2px 2px 2px rgb(179, 175, 175);
    }
    .ant-list-pagination {
      margin: 10px 5px 10px 0;
    
      ul {
        li {
          margin: 0;
          background-color: #ebebeb;
          font-size: 15px;
          width: 30px;
          height: 30px;
          a {
            font-weight: 600;
            font-size: 14px;
            color: #a19797;
          }
          button {
            border: none;
            background-color: #56ad51;
            font-weight: 800;
            color: #fff;
            width: 30px;
            height: 30px;
            outline: none;
          }
          button:hover {
            background-color: #3d933c;
          }
        }
        li:hover {
          background-color: #56ad51;
          border: 1px solid #56ad51;
          a {
            color: #ebebeb;
          }
        }
        li.ant-pagination-item-active{
          background-color: #56ad51;
          border: 1px solid #56ad51;
          a {
            color: #ebebeb;
          }
        }
      }
    }
  }
}
