$res_320 : "only screen and (min-width: 320px) and (max-width: 424px)";

@mixin responsive_320() {
  @media #{$res_320} {
    @content;
  }
}

.sale {
  height: 100vh;
  max-height: 100vh;
  .sale-pc {
    height: 100%;
    .sale-tab {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
    }
  }
}

.ant-tabs-nav {
  margin: 0 !important;
}
.ant-tabs-nav-list {
  position: absolute;
  left: 36%;
}

.ant-tabs-nav-wrap{
  height: 42px;
}

.ant-tabs-nav-add{
  margin-left: 14.5px;
}

.sale-mobile {
  display: none;
}

@include responsive_320() {
  .sale{
    overflow: auto;
  }
  .sale-mobile {
    display: block;
  }
  .sale-pc {
    display: none;
  }
}
