$res_320 : "only screen and (min-width: 320px) and (max-width: 424px)";

@mixin responsive_320() {
  @media #{$res_320} {
    @content;
  }
}
.overview {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .overview-left {
    width: 72%;
    .total-revenue {
      border: 1px solid #eee;
      border-radius: 4px;
      height: 120px;
      background-color: #fff;
      position: relative;
      box-shadow: 0 2px 5px rgba(0,0,0,.1);
      h3 {
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        position: absolute;
        top: 15px;
        left: 18px;
      }
      .total-revenue-total {
        display: flex;
        justify-content: flex-start;
        position: absolute;
        top: 50px;
        left: 18px;
        .total-revenue__info {
          margin-top: -15px;
          margin-left: 15px;
          display: flex;
          justify-content: space-around;
          flex-direction: column;
        }
      }
    }
    .chart-revenue {
      margin-top: 30px;
      background-color: #fff;
      padding: 25px;
      border-radius: 4px;
      box-shadow: 0 2px 5px rgba(0,0,0,.1);
      h3 {
        margin-bottom: 30px;
        text-transform: uppercase;
      }
      .chart-revenue__header{
          display: flex;
          justify-content: space-between;
          .select{
            width: 100px;
          }
      }
      
    }
    
  }
  @include responsive_320(){
    .overview-left{
      width: 100%;
      margin-top: 45px;
      .select{
        position: absolute;
        top: 55px;
        left: 5%;
      }
    }
  }
  .overview-right{
      background-color: #fff;
      border-radius: 4px;
      width: 25%;
      height: 555px;
      max-height: 555px;
      overflow: auto;
      box-shadow: 0 2px 5px rgba(0,0,0,.1);
      .overview-right__header{
          h3{
            text-transform: uppercase;
          }
          border-bottom: 1px solid #bcbcd2;
          padding-top: 10px;
          padding-left: 15px;
      }
  }

  .overview-right::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #fff; /* or add it to the track */
    border:none !important;
   
  }
  
  /* Add a thumb */
  .overview-right::-webkit-scrollbar-thumb{
      background: #c1c1c1;
      border-top-right-radius: 5px !important;
      border-top-left-radius: 5px !important;
      border-bottom-right-radius: 5px !important;
      border-bottom-left-radius: 5px !important;
  }
  
  @include responsive_320(){
    .overview-right{
      display: none;
    }
  }
}
