$res_320: "only screen and (min-width: 320px) and (max-width: 424px)";
// $res_375 : "only screen and (min-width: 375px) and (max-width: 424px)";
// $res_425 : "only screen and (min-width: 425px) and (max-width: 767px)";
// $res_768 : "only screen and (min-width: 768px) and (max-width: 991px)";
// $res_992 : "only screen and (min-width: 992px) and (max-width: 1023px)";
// $res_1024 : "only screen and (min-width: 1024px) and (max-width: 1999px)";
// $res_1200 : "only screen and (min-width: 1200px)";
@mixin responsive_320() {
  @media #{$res_320} {
    @content;
  }
}

.unit-wrapper {
  height: 40px;
  padding-left: 50px;
  padding-right: 50px;
  .btn {
    float: right;
    button {
      height: 40px;
      border: none;
      border-radius: 4px;
      color: #fff;
    }

    button:nth-child(n + 1) {
      background-color: #419543;
    }
    button:nth-child(n + 1):hover {
      background-color: #2b612c;
    }
  }
  @include responsive_320() {
    .unit-wrapper {
      padding-left: 10px;
      padding-right: 10px;
    }
    .unit-table {
      margin-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .icon-plus__edit {
    color: white;
  }
}

.unit-table {
  margin-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  .ant-table-thead > tr > th {
    background-color: #dcf4fc !important;
  }
  
  button{
    border: none;
  }

  .btn-update-unit {
    background-color: #419543;
  }

  .btn-remove-unit {
    background-color: #898c8d;
  }
  .btn-update-unit:hover {
    background-color: #2b612c;
  }
  .btn-remove-unit:hover {
    background-color: #494d4e;
  }
}
