$res_320: "only screen and (min-width: 320px) and (max-width: 424px)";
// $res_375 : "only screen and (min-width: 375px) and (max-width: 424px)";
// $res_425 : "only screen and (min-width: 425px) and (max-width: 767px)";
// $res_768 : "only screen and (min-width: 768px) and (max-width: 991px)";
// $res_992 : "only screen and (min-width: 992px) and (max-width: 1023px)";
// $res_1024 : "only screen and (min-width: 1024px) and (max-width: 1999px)";
// $res_1200 : "only screen and (min-width: 1200px)";
@mixin responsive_320() {
  @media #{$res_320} {
    @content;
  }
}

.unit-wrapper {
  .btn {
    width: 10%;
    margin: 0 auto;
    .btn-add__unit {
      background-color: #4bac4d;
      color: white;
      border-radius: 4px;
    }
  }
  @include responsive_320() {
    .btn {
        display: flex;
        justify-content: center;
        margin-top: 3px;
    }
  }
  .icon-plus__edit {
    color: white;
  }
}

.unit-table{
    margin-top: 10px;
}
