$res_320: "only screen and (min-width: 320px) and (max-width: 424px)";

@mixin responsive_320() {
  @media #{$res_320} {
    @content;
  }
}
.bill-save__pc {
  position: relative;
  bottom: 50px;
  width: 100%;
  padding-right: 35px;
  padding-left: 35px;

  h2 {
    position: relative;
    top: 40px;
  }
  .top-table-list-bill {
    display: flex;
    justify-content: flex-end;

    button {
      height: 40px;
      border: none;
      border-radius: 4px;
    }

    button:nth-child(n + 1) {
      background-color: #419543;
    }

    button:nth-child(n + 1):hover {
      background-color: #2b612c;
    }
  }

  .table-list-bill {
    margin-top: 10px;
    .ant-table-thead > tr > th {
      background-color: #dcf4fc;
    }
  }
}

.bill-save__mobile {
  display:none;
}

@include responsive_320() {
  .bill-save__mobile {
    display:block;
    width: 92%;
    margin: 0 auto;
    .total-bill {
      margin-top: 10px;
      span {
        font-size: 12px;
        font-weight: 600;
      }
    }
    .list-bill {
      .element-bill {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
        .left {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          .code {
            font-weight: 600;
          }
          .name {
            font-size: 13px;
            color: rgb(80, 70, 70);
          }
          .time {
            display: flex;
            justify-content: space-between;
            width: 100px;
            span {
              font-size: 13px;
              color: rgb(139, 129, 129);
            }
          }
        }

        .right {
          display: flex;
          justify-content: flex-start;
          .math {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-right: 5px;
            span {
              text-align: right;
            }
            .money {
              font-weight: 600;
              color: #0090da;
            }
            .status {
              font-size: 13px;
              color: rgb(80, 70, 70);
            }
          }
        }
      }
    }
  }
  .bill-save__pc {
    display: none;
  }
}
